body {
  color: $dk-gray;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

.front {
  .l-content {
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: center;
  }
  .l-region--footer {
    h2 {
      font-size: 2.25em;
      font-weight: normal;
      line-height: 1.8em;
      margin: 0;
      text-align: center;
    }
  }
}

.l-region--sidebar {
  .block{
    h2 {
      font-size: 0.9em;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

p.button {
  @extend %button;
  text-align: center;
  max-width: 180px;
}