/* Large desktop */
@media (min-width: 1200px) {
  
  
  
}

/* Small desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  
  
  .masthead .mast-head-2014 .container h2 {
    font-size: 5.3em;
  }
  .masthead .mast-head-2014 .container h3 {
    font-size: 3.2em;
  }
  
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
  
  .masthead .mast-head-2014 .container h2 {
    font-size: 3.2em;
  }
  .masthead .mast-head-2014 .container h3 {
    font-size: 2.1em;
  }
  
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  .masthead .mast-head-2014 .container h2 {
    font-size: 3.0em;
  }
  .masthead .mast-head-2014 .container h3 {
    font-size: 2.0em;
  }
  
}

/* Landscape phones and down */
@media (max-width: 480px) {
  
  .masthead .mast-head-2014 .container .box .text{
    
  }
  
  .masthead .mast-head-2014 .container h2 {
    font-size: 2.0em;
  }
  .masthead .mast-head-2014 .container h3 {
    font-size: 1.6em;
  }
  
}